<div class="container-fulid">
  <%= form_for :senate_rules, url: outline_clone_path(outline_id: @template.id, course_code: @course_code) do |f| %>
    <div class="senate-rules">
      <% get_senate_rules(@template).each_with_index do |rule, idx| %>
        <div class="row senate-rule <%= idx % 2 == 0 ? 'pure-white-bg' : ''  %>">
          <div class="col-md-10 rule-col">
            <%= f.label rule.id, rule.description %>
          </div>
          <div class="col-md-2">
            <%= f.check_box rule.id, class: 'toggle-check', data: {'on-text': 'Yes', 'off-text': 'No', 'on-color': 'success'} %>
          </div>
        </div>
      <% end %>
      <div class="pull-right">
        <br>
        <%= f.submit 'Continue', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>
