<br>
<div>
 &nbsp <%= link_to outlines_path, class: 'btn btn-western' do %> <span class="fa fa-thumbs-up"></span> VIEW OUTLINES <% end %>
</div>
<% if can? :create, Outline %>
  <div>
    <%= render 'shared/new_outline_modal', courses: @courses %>
  </div>
<% end %>

<% if @user.guest? %>
  <%= render 'outlines/partials/outlines_view' %>
<% end %>

<% if @user.instructor? %>
  <%= render 'outlines/partials/outlines_create_view' %>
<% end %>

<% if @user.admin? %>
  <%= render 'outlines/partials/templates_create_view' %>
<% end %>