<div id="tool-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for outline, url: outline_create_tool_and_element_path(@outline), method: :post do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Add Toolbar Element</h3>
          </div>
          <div class="modal-body">
            <%= f.fields_for :tool do |f_t| %>
                <h4> Tool Title: </h4>
                <div>
                  <%= f_t.text_field :name %>
                </div>
            <% end %>

            <%= f.fields_for :element do |f_e| %>
                <%= f_e.fields_for :header do |f_h| %>
                    <h4> Element Header: (optional) </h4>
                    <div>
                      <div class="toolbar-header-options" >
                        <%= f_h.text_field :text, class: 'header-edit' %>
                      </div>
                      <div class="toolbar-header-options" >
                        <%= f_h.label :bold %>
                        <%= f_h.check_box :bold %>
                        <%= f_h.label :italic %>
                        <%= f_h.check_box :italic %>
                        <%= f_h.label :underline %>
                        <%= f_h.check_box :underline %>
                        <%= f_h.select :size, options_for_select(Header.select_options, Header.select_options[1]) %>
                      </div>
                    </div>
                <% end %>

                <h4> Element Content: </h4>
                <div class="element-text">
                  <div class="html-element">
                    <div class="html-element-text">
                    </div>
                    <a href="#" class="display-editor"><span>Click to edit</span></a>
                  </div>
                  <div class="ckeditor-element hidden">
                    <%= f_e.text_area :text, class: 'ckeditor' %>
                    <a href="#" class="hide-editor"><span>Click to hide</span></a>
                  </div>
                </div>
            <%end%>
          </div>

          <div class="modal-footer">
            <%= f.submit 'Add Tool', class: 'btn btn-western' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      <%end%>

    </div>
  </div>
</div>