<%= form_for outline, url: outline_path(outline), method: :put, remote: true do |f| %>
  <div class="sortable">
    <%= f.fields_for :outline_elements do |f_oe| %>
      <div class="element-edit" id="element-edit-<%= f_oe.object.id %>">
        <%= f_oe.fields_for :element do |f_e| %>
          <div class="element-text">
            <% unless f_e.object.required? %>
              <%= link_to outline_remove_element_path(outline_id: outline.id, outline_element_id: f_oe.object.id), class: 'close', method: :post, remote: true do %>&times<% end %>
            <% end %>
            <% obj = f_e.object %>
            <div class="html-element">
              <div class="html-element-text">
                <%= obj.text.try(:html_safe) %>
              </div>
              <% unless obj.immutable? %> <a href="#" class="display-editor"><span>...Click to edit</span></a> <% end %>
            </div>
            <% if obj.immutable? %>
            <% else %>
              <div class="ckeditor-element hidden">
                <%= f_e.text_area :text, class: 'ckeditor' %>
                <a href="#" class="hide-editor"><span>...Click to hide</span></a>
              </div>
            <% end %>
          </div>

        <% end %>
        <%= f_oe.hidden_field :order, value: f_oe.object.order, class: 'element-order' %>
        <%# This is where rank stuff will go so put it here %>
      </div>
    <% end %>
  </div>
  <%= f.submit class: 'btn btn-western' %>
<% end %>
<%= button_to 'Add Element', outline_add_element_path(@outline), class: 'btn btn-western btn-sm', remote: true %>
